{% extends 'baselog.html.twig' %}

{% block title %}Créer une nouvelle Commande{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center text-primary mb-4">Créer une nouvelle Commande</h1>

        <div class="card shadow-lg p-4">
            {{ include('commande/_form.html.twig') }}
        </div>

        <div class="text-center mt-3">
            <a href="{{ path('app_commande_index') }}" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Retour à la liste
            </a>
        </div>
    </div>
{% endblock %}