{% extends 'base2.html.twig' %}

{% block title %}Edit Foire{% endblock %}

{% block body %}
    <h1>Edit Foire</h1>

    {{ include('foire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_foire_index') }}">back to list</a>

    {{ include('foire/_delete_form.html.twig') }}
{% endblock %}