{% extends 'base2.html.twig' %}

{% block title %}Edit Expedition{% endblock %}

{% block body %}
    <h1>Edit Expedition</h1>

    {{ include('expedition/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_expedition_index') }}">back to list</a>

    {{ include('expedition/_delete_form.html.twig') }}
{% endblock %}
