{% extends 'baselog.html.twig' %}

{% block title %}Détails de la Vidéo{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class="text-center text-dark fw-bold mb-4">Détails de la Vidéo</h2>

    <div class="video-container text-center my-4">
        {% if videoUrl %}
            <iframe width="100%" height="315" src="{{ videoUrl }}" 
                    frameborder="0" allowfullscreen class="rounded shadow-lg"></iframe>
        {% else %}
            <p class="text-center">Cette vidéo ne peut pas être intégrée. 
                <a href="{{ expedition.videoUrl }}" target="_blank" class="btn btn-primary btn-sm mt-3">
                    Regarder sur YouTube
                </a>
            </p>
        {% endif %}
    </div>

    <div class="text-center mt-4">
       <a href="{{ path('app_expedition_show1', {'id': expedition.id}) }}" class="btn btn-secondary btn-sm">
    <i class="fas fa-arrow-left me-2"></i> Retour à l'expédition
</a>

    </div>
</div>
{% endblock %}
